<html th:replace="~{layout/header :: header(~{::title},~{::section})}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title th:text="#{title.delete}">삭제</title>
</head>
<body>
<section class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-danger text-white">
                    <h1 class="text-center" th:text="#{subhead.delete}">삭제</h1>
                </div>
                <div class="card-body">
                    <form action="" th:action method="post" th:object="${board}">
                        <div th:replace="~{/layout/fielderror :: fieldError}"></div>
                        <div class="form-group">
                            <input type="hidden" th:field="*{id}">
                            <label for="password" th:text="#{label.board.password}">비밀번호</label>
                            <input type="password" id="password" class="form-control" th:field="*{password}" th:errorclass="is-invalid">
                            <div class="invalid-feedback" th:errors="*{password}"></div>
                        </div>
                        <div class="button-container">
                            <button type="submit" class="btn btn-danger " th:text="#{button.save}">제출</button>
                            <button type="button" th:onclick="|location.href='@{/board/list}'|" th:text="#{button.cancel}" class="btn btn-secondary">취소</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>